<app-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-sidenav>
<div class="main-body" [ngClass]="getBodyClass()">
  <mat-toolbar class="toolbar">
    <div class="toolbar-content">
      Groups
      <div class="right-elements">
        <button class="right-element" mat-stroked-button (click)="logout()">Logout</button>
        <span class="avatar" [style.background]="'linear-gradient(' + this.angleOfGradient(this.username) +'deg , '
      + this.avatarColor + ' 0%, ' + this.invertHexColor(this.avatarColor) + ' 100%)'">
          {{getAvatarInitials()}}
        </span>
      </div>
    </div>
  </mat-toolbar>
<!--  <div class="main-component-content">-->
    <router-outlet></router-outlet>
<!--  </div>-->
</div>
