<div class="content-container">
  <h1>Add new Group</h1>
  <form [formGroup]="formGroup" (ngSubmit)="createGroup()" style="width: 90%;">
    <p>
      <mat-form-field appearance="outline">
        <input type="text" matInput placeholder="Name" formControlName="name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" style="flex: 1; display: flex">
        <textarea type="text" matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <input type="text" matInput placeholder="Location" formControlName="location">
      </mat-form-field>
    </p>
    <div style="background-color: #3c4b5f; height: 30rem; width: 100%; margin: 2rem 0">
      <google-map
        height="100%"
        width="100%"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="addMarker($event)"
        (mapMousemove)="move($event)">
        <map-marker [position]="markerPosition" [options]="markerOptions"></map-marker>
      </google-map>
    </div>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Topics: </mat-label>
        <mat-chip-grid #chipGrid aria-label="Fruit selection">
          <mat-chip-row *ngFor="let topic of topics" (removed)="removeTopic(topic)">
            {{capitalize(topic.name)}}
            <button matChipRemove [attr.aria-label]="'remove ' + topic">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="New Topic..." #topicInput formControlName="topicsControl"
               [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addTopic($event)"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let topic of allTopics" [value]="topic">
            {{topic.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>
    <button mat-stroked-button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Submit</button>
  </form>
</div>
