<div class="content-container">
  <h1>Edit Group</h1>
  <form [formGroup]="formGroup" (ngSubmit)="editGroup()" style="width: 90%;">
    <p><b>Current Name:</b> {{this.group.name}}</p>
    <p>
      <mat-form-field appearance="outline">
        <input type="text" matInput placeholder="Name" formControlName="name">
      </mat-form-field>
    </p>
    <p><b>Current Description:</b> {{this.group.description}}</p>
    <p>
      <mat-form-field appearance="outline" style="flex: 1; display: flex">
        <textarea type="text" matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
    </p>
    <p><b>Current Location:</b> {{this.group.location}}</p>
    <p>
      <mat-form-field appearance="outline">
        <input type="text" matInput placeholder="Location" formControlName="location">
      </mat-form-field>
    </p>
    <button mat-stroked-button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Submit</button>
  </form>
</div>
