.content-wrapper{
  display: -webkit-flex;
  display: flex;
  //height: calc(100% - 5rem);
}

.content-container {
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  margin: 20px;
  flex-grow: 1;
  overflow: auto;
}

.button-toggle {
  margin-left: 10px;
  height: 2rem;
  align-items: center;
}

.mat-mdc-row.highlighted {
  background-color: rgb(255, 0, 0, 0.05);
  .mat-mdc-table &:hover {
    background-color: rgb(255, 0, 0, 0.05);
  }
}
