.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: space-between;
}

.context {
  position: absolute;
  width: 100%;
  top:calc(50% - 234px/2);
  display: flex;
  justify-content: center;
}
