<div class="context">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">
        <p>
          <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>
        <div class="button">
          <button type="button" mat-button (click)="register()" mat-stroked-button>Register</button>
          <button type="submit" mat-button disabled="{{form.invalid || showLoading}}" mat-stroked-button>Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
