<div style="margin: 1rem; padding: 1rem;">
  <div>
    <p>Are you sure you want to delete this group?</p>
    <p>Deleting this group will remove everyone who is a member</p>
    <p>With id: <i>{{this.id}}</i></p>
  </div>
  <div mat-dialog-actions align="end" style="display: flex; justify-content: space-between;">
    <button mat-raised-button (click)="deleteGroup()" class="mat-warn">Delete</button>
    <button mat-stroked-button mat-dialog-close style="width: 6rem;">Cancel</button>
  </div>
</div>
