<div class="group-header-wrapper">
  <div class="group-header-container content-card">
    <div class="header-content-left">
      <span>Filters: </span>
      <mat-button-toggle-group class="button-toggle" [formControl]="groupsControl" (change)="loadGroups()">
        <mat-button-toggle value="all">All</mat-button-toggle>
        <mat-button-toggle value="admin">Where Admin</mat-button-toggle>
        <mat-button-toggle value="member">Where Member</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="header-content-right">
      <div class="search-bar-container">
        <mat-icon class="search-icon">search</mat-icon>
        <input class="search-bar-input" type="search" placeholder="Search by..."/>
      </div>
      <button mat-stroked-button class="button" (click)="openAddGroupDialog($event)">Add Group</button>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="content-container content-card">
    <div class="panels">
      <div class="card" *ngFor="let group of this.groups" (click)="clickOnCard(group.id)">
        <div class="anything-else">
          <div class="tool-card-header">
        <span>
          {{group.name}}
        </span>
          </div>
          <hr class="line-style">
          <div class="tool-card-content">
            <p>{{group.description}}</p>
            <div class="info-with-icon-right">
              <p><b>Location: </b>{{group.location}}</p>
              <i class="fal fa-map-marker-alt"></i>
            </div>
            <div class="info-with-icon-right">
              <p *ngIf="group.nextMeetingDate"><b>Be there on: </b>{{group.nextMeetingDate | date: 'dd/MM/yyyy HH:mm'}}</p>
              <p *ngIf="!group.nextMeetingDate"><b>Be there on: </b>No next meeting set</p>
              <i class="fal fa-calendar-alt"></i>
            </div>
            <div class="chips-container">
              <mat-chip-listbox>
                <mat-chip *ngFor="let topic of group.topics">
                  {{capitalize(topic.name)}}
                </mat-chip>
              </mat-chip-listbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
